/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1 {
    text-align: center;
}

#tasks-container {
    margin-top: 20px;
}

.task {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.task input {
    margin-right: 10px;
}

.completed {
    text-decoration: line-through;
    color: #888;
}
